{% block app %}
<div id="nav">
  <nav class="bg-gray-200 flex justify-between items-stretch">
    <ul class="flex">
      <!-- <li class="m-1">Clear Call</li> -->
      {%for link in links%}
      <li
        class="font-bold flex items-center hover:bg-gray-300 cursor-pointer px-2.5"
      >
        <div hx-get="{{link[0]}}" hx-target="#app-main" hx-swap="innerHTML">
          {{link[1]}}
        </div>
      </li>
      {%endfor%}
      <!-- <li class="font-bold flex items-center hover:bg-gray-300 cursor-pointer">
        <div class="p-2.5">Test</div>
      </li> -->
    </ul>
    <button
      class="bg-gray-400 border-solid border-2 p-2.5 m-4"
      hx-get="/logout"
      hx-target="#nav"
      hx-swap="outerHTML"
    >
      Logout
    </button>
  </nav>
  <div id="app-main">{%include "upload.html" %}</div>
</div>
{% endblock %}
